<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>

  <% if session["user_id"] != nil %>
    <form method="GET" action="/tweet">
        <label>Tweet this</label>
        <input type="text" name="tweet">
        <input type="submit" value="TWeet">
      </form>

      <button><a href="/sign_out">Sign Out</a></button>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>

</div>
